body{
	overflow-x: hidden;
	position: relative;
	display: block;
	background-color: transparent;
	

	
}


.stage{
	max-width:1440px;
	overflow-x:hidden;
	position:relative;
	display:block;
	background:transparent;
	width:100%;
	margin:0 auto;

}

.logo_holder{
	background-repeat: no-repeat;
	background-attachment: fixed;

	background-size:cover;
	width: 100%;
	min-height: 100%; 
	background-image:url(images/labbg1.png);
	padding-top:150px;
	padding-bottom:450px;
}

@font-face{
	font-family: Skolar;
	src: url(fonts/SkolarCyrillic_Regular.otf);
}
@font-face{
	font-family: HWT;
	src: url(fonts/HWT_Artz.otf);
}

.nav{
	position:fixed;
	top:0;
	padding-top:1%;
	text-align: right;
	right:0;
	z-index:2000;
	
	width:100%;
	margin:0 auto;
	transition-duration: .5s;
}

.nav a:active{
	color: white;
}

.nav a:hover{
	text-decoration: none;
    border-bottom: 10px solid white;
    padding-top: 18px;
	padding-bottom: 6px;
	padding-left: 20px;
	padding-right: 20px;
	color: #2B91E7;
	
}
.nav a:visited{
	color: white;
	text-decoration: none;
	
}




.nav li{
	display:inline;
	color:white;
	padding-right: 100px;
	font-size:30px;
	font-family: Skolar;
}

.About{
	position: relative;
	margin-top: -250px;
	background-image:url();
	background-size:cover;
	background-repeat:no-repeat;
	display:block;
	z-index: 1;
	
}

.About h1{
	font-family: HWT;
	font-size: 140px;
	text-align:center;

	padding-top: 100px;
	color: #2B91E7;
	margin:0 auto;
	padding-left: 20px;
	width: 100%;
	letter-spacing: 4px;
}

.About p{
	font-family: Skolar;
	font-size: 20px;
	color:black;

}

.line_hold{
	/*position:absolute;*/
	display:block;
	z-index:-1;
	width:100%;
margin-bottom: -400px;
	height:auto;
	margin-top: -100px;
}

.location{
	/*color: white;*/
	padding-top: 90px;
	text-align: center;
}

#projects{
	padding-top:40px;
}

.Projects h1{
	color: white;
	font-family: HWT;
	font-size: 140px;
	
	letter-spacing: 4px;

	

}
.SocialMatch h3{
	color: white;
	font-family: HWT;
	font-size: 36px;
	
	letter-spacing: 4px;
	
	
}

.SocialMatch{
	padding-top:30px;
}

.Ondate{

	background-image: url("images/ondatebg.png");
	background-repeat: no-repeat;
	height: 773px;
	width: 100%;

	margin-top: -30px;
}

.Ondate h3{
	color: white;
	font-family: HWT;
	font-size: 36px;
	
	letter-spacing: 4px;
	
}

.Ondate2{
	background-image: url("images/ondatebg2.png");
	background-repeat: no-repeat;
	height: 773px;
	width: 100%;
	margin-top: -30px;
}
.Ondate2 h3{
	color: white;
	font-family: HWT;
	font-size: 36px;
	
	letter-spacing: 4px;
	
}
p{
	color: white;
	font-family: Skolar;
	font-size: 22px;
	line-height: 1.5;

	
	
}

.Coal{
	width: 100%;
	height: 1300px;
}

.Coal h3{
	color: white;
	font-family: HWT;
	font-size: 36px;
	
	letter-spacing: 4px;
	
	
}
.Coal p{
	color: white;
	font-family: Skolar;
	font-size: 22px;
	line-height: 1.5;
	
	

}

.cd-fixed-bg{
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	width: 100%;
	
	background-size:cover;
	

}

.cd-fixed-bg.cd-bg-2{
	background-image: url("images/Projectsbg.png");
	width: 100%;
	height:1440px;
	margin-top:-700px;
	

}

.cd-fixed-bg.cd-bg-3{
	background-image: url("images/Coal.png");
	width: 100%;
}

.row
{
	margin-left:0;
	margin-right:0;
}

.proj
{
	padding-top: 830px;
	margin-top:-500px;
}

.bTri2{
	margin-left: -80px;
	margin-right: -80px;
}

.tri{

    width: 100%;
    height: auto;
    /* position: absolute; */
   	
 


}

.plr-0{
	padding-left: 0;
	padding-right: 0;
}

.Team {

	margin-top:-400px;

}

.Team h1{
	font-family: HWT;
	font-size: 140px;
	
	margin-top: -200px;
	color: #2B91E7;
	padding-left: 20px;
	width: 100%;

}
.Team h3{
	font-family: HWT;
	font-size: 64px;
	padding-bottom:30px;
	margin-top: 30px;
	color: #2B91E7;
	padding-left: 100px;
	width: 100%;
}
.Quentin{
	
}
.Bio h1{
	color: black;
	font-family: Skolar;
	font-size: 24px;
	
	margin-top: 10px;
	margin-bottom:20px;

}
.Bio p{
	color: black;
	font-family: Skolar;
	font-size: 20px;
	
	margin-top: 20px;
	
	line-height: 1.5;

}

.img_center{
	padding-top:80px;
	display:block;
	margin: 0 auto;
	width:100%;
	max-width:900px;
	height:auto;
}
.Qmage{
	width: 100px;
	height: 100px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(images/Quinten.png) no-repeat;
	
	margin-left: 100px;
}

.Publications{
	
	width: 100%;
	background-color: #2B91E7;
}

.mlr_15{
	margin-left:-15px;
	margin-right:-15px;
}

.white{
	background-color:white;
}

.Publications h1{
	font-family: HWT;
	font-size: 144px;

	letter-spacing: 4px;
	color: white;
	
	width: 100%;
}
.Publications h3{
	color: white;
	font-family: Skolar;
	font-size: 24px;
	padding-bottom:24px;

}
Publication p{
	color: white;
	font-family: Skolar;
	font-size: 16px;
	
	
	line-height: 1.5;
	
}
.twentyfour{
	
}
.twentyfour h3{
	color: white;
	font-family: Skolar;
	font-size: 24px;
	padding-bottom:24px;
	
}
.twentyfour p{
	color: white;
	font-family: Skolar;
	font-size: 16px;
	
	

	line-height: 1.5;
	
}
.twentytwo{
	
}
.twentytwo h3{
	color: white;
	font-family: Skolar;
	font-size: 24px;
	padding-bottom:24px;
	
}
.twentytwo p{
	color: white;
	font-family: Skolar;
	font-size: 16px;
\
	line-height: 1.5;
	
}
.twentythree{
	
}
.twentythree h3{
	color: white;
	font-family: Skolar;
	font-size: 24px;

	padding-bottom:24px;
}
.twentythree p{
	color: white;
	font-family: Skolar;
	font-size: 16px;
	
	line-height: 1.5;

}

@media screen and (min-width:590px) and  (max-width: 740px){
	.nav {text-align: center;}
	.nav li{font-size: 20px;
		padding-right:40px;}	


}

@media screen and (max-width:589px) and (min-width:300px){
	.nav{text-align: center;}
	.nav li{font-size:16px;
		padding-right:8px;}

}